<head>
  <style>
    body {
      background-color: powderblue;
    }

    footer {
      background-color: rgb(139, 69, 19);
      position: relative;
      bottom: 0;
      width: 100%;
      padding-top: 30px;
    }

    footer .social-media {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    footer .social-media a {
      margin: 0 5px;
      color: white;
      font-size: 20px;
    }

    footer h5 {
      color: white;
      text-align: center;
      margin-bottom: 20px;
    }

    footer p {
      color: white;
      text-align: center;
      margin: 0;
    }

    footer .copyrigth {
      background-color: rgba(0, 0, 0, 0.2);
      padding: 10px;
      text-align: center;
    }
  </style>
</head>
<body>
  <footer>
    <div class="social-media">
      <a class="btn btn-outline-light btn-floating m-1" href="#!"><i class="fa fa-facebook-f"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!"><i class="fa fa-twitter"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!"><i class="fa fa-google"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/ladosertaobolos/"><i class="fa fa-instagram"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!"><i class="fa fa-github"></i></a>
    </div>

    <h5>O melhor lugar para encomendar deliciosos bolos e doces caseiros!</h5>

    <div class="copyrigth">
      <p>© 2023 Lá do Sertão</p>
    </div>
  </footer>
</body>

