
<%- include('./partials/header') %>
<main>
  <div class="row justify-content-md-center" style="margin-top: 100px">
    <div class="col-md-6">
      <h1>Login</h1>

      <% if (typeof error !== 'undefined' && error !== null) { %>
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
      <% } %>

      <form method="POST" action="/signin">
        
        <div class="form-group">
          <label for="exampleInputUsername">Username</label>
          <input name="username" type="text" class="form-control" id="exampleInputUsername" placeholder="Enter username">
        </div>
        
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <div class="input-group">
            <input name="password" type="password" class="form-control" id="passwordInput" placeholder="Password">
            <div class="input-group-append">
              <span class="input-group-text toggle-password" onclick="togglePasswordVisibility()">
                <i class="fa fa-eye"></i>
              </span>
            </div>
          </div>
        </div>
        
        <button style="margin-top: 10px; " type="submit" class="btn btn-primary">Login</button>
      </form>
        
      <p style="padding-top: 10px;">Ainda não possui uma conta? <a href="/signup">Registre-se</a></p>
    </div>
  </div>
</main>

        
<footer style="margin-top: auto;">
  <%- include('./partials/footer') %>
</footer>

<style>
  .input-group-text {
    background-color: #f8f9fa;
    border: none;
    padding: 10px;
  }

  .input-group-text .fa {
    font-size: 16px;
  }
</style>

<script>
  function togglePasswordVisibility() {
    var passwordInput = document.getElementById('passwordInput');
    var togglePassword = document.querySelector('.toggle-password');
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
      togglePassword.innerHTML = '<i class="fa fa-eye-slash"></i>';
    } else {
      passwordInput.type = 'password';
      togglePassword.innerHTML = '<i class="fa fa-eye"></i>';
    }
  }
</script>

</body>
</html>
